
<form class="addHero" role="form">
		<div class="errors" id="errors"></div>

	<div class="form-group">
		<label for="name">Superhero Name:</label><br>
		<input type="text" name="name" value='<%= hero.escape('name') %>'>
		<br>
	</div>

	<div class="form-group">
		<label for="bio">Bio:</label><br>
		<textarea name='bio' id='bio' value='<%= hero.escape('bio') %>'><%= hero.escape('bio') %></textarea><br>
	</div>

	<input
		type="filepicker"
		data-fp-mimetype="image/*"
		name="icon_filepicker_url"
  	data-fp-button-text="Choose Image for Map"
  	data-fp-button-class="btn btn-default"> <!-- Button CSS classes go here -->	

  <br>
	<button id="createSighting">Submit</button>

	<a class="hero-back-link" href='#'>Close Form</a>
</form>