<% if (hero.escape("filepicker_url_icon") === "") {%>
	<button id="filepicker-button" class="btn btn-primary">Add Icon</button>
<% } else { %>
	<h6>Image Uploaded</h6>
<% } %>


<form class="addHero" role="form">
		<div class="errors" id="errors"></div>

	<div class="form-group">
		<label for="name">Superhero Name:</label><br>
		<input type="text" name="name" value='<%= hero.escape('name') %>'>
		<br>
	</div>

	<div class="form-group">
		<label for="bio">Bio:</label><br>
		<textarea name='bio' id='bio' value='<%= hero.escape('bio') %>'><%= hero.escape('bio') %></textarea><br>
	</div>

	<button id="createSighting" class="btn btn-primary">Submit</button>

	<a class="hero-back-link" href='#'>Close Form</a>
</form>