
<h3><%=hero.escape('name')%></h3>
<p>Bio: <%=hero.escape('bio')%></p>
<h3>Sightings:</h3>

<div class='heroSightingbox'>
<% sightings && sightings.each(function(sighting){ %>
	<ul class='variableSightingItem'>
		<li>Time of sightings: <%= sighting.get('time') %> </li>
		<li>Description: <%= sighting.get('description') %>
	</ul>
<% }) %>
</div>

<a class="close-hero-show" href='#'>Close Form</a>