<h3>Total Sightings: <%=sightings.length%></h3>
	<div class= "variableSightingbox"> 
		<% _.each(sightings, function(sighting){ %>
			<ul class="variableSightingItem">
					<li><%=sighting.superhero.escape("name")%></li>
					<li><%=sighting.escape("time")%></li>
					<li><%=sighting.escape("description")%></li>
			</ul>
		<% }) %>
	</div>
<a class="sightingIndexBack" href='#'>Back</a>