
<div class="newSightingLink">
	<a href="#/sightings/new">Add a Sighting</a>
</div>

<!-- <div class="newHeroLink">
	<a href="#/heroes/new">Add a Hero</a>
</div> -->

<div class="sightingsIndexLink">
	<a href="#/sightings/index">Visible Sightings</a>
</div>

<div class="mapContainer">
    <div id="map-canvas" style="height:100%"></div>
</div>
