<!-- 
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript">
    </script>
  </head>
  <body style="height:2000px width:2000px">
 -->    <!-- <h3>you found the map!</h3> -->
 <div class="map container" style="height: 500px">
    <div id="map-canvas" style="height:100%"></div>
  </div>
<!--   </body>
</html> -->