
<div id="heading">
	<h1>SuperSightings</h1>
</div>

<div id="sightingFormBackground">
	<div id="newSightingForm"></div>
</div>

<div id="sightingsIndex"></div>

<div id="content"></div>

<div id="heroView"></div>


<script type="text/javascript" charset="utf-8">
  $(Superhero.initialize);
</script>

<div id="footer">
	<h3>Filters go here</h3>
</div>