
<div id="heading">
	<img id= "logo" src="https://www.filepicker.io/api/file/cedfzPt3S5ilqqZ3Rx8Y">
</div>

<div id="content"></div>

<div id="heroView"></div>


<script type="text/javascript" charset="utf-8">
  $(Superhero.initialize);
</script>

<div id="footer">

	<ul class="nav nav-pills nav-justified">
		<li><a href="#/sightings/index">Visible Sightings</a></li>
		<li><div id="heroFilter"></div></li>
		<li><a href="#/heroes/new">Add a Hero</a></li>
  	<li><a href="#/sightings/new">Add a Sighting</a></li>
  	
	</ul>

	<div id="sightingFormBackground">
		<div id="newSightingForm"></div>
	</div>


	<div id="heroFormBackground">
		<div id="heroForm"></div>
	</div>

	<div id="sightingsIndex"></div>

</div>
