<h1 align="center">SuperSightings</h1>
<h4 align="right">Add a Sighting</h4>
<a href = "sightings/new">Add a Sighting</a>
<div id="content"></div>
<script type="text/javascript" charset="utf-8">
  $(Superhero.initialize);
</script>