// Place all the styles related to the heroes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#heroView {
	background-color: rgba(54,76,90, 0.9);
	position: absolute;
	z-index: 95;
	width: 500px;
	left: 50%;
	top: 50%;
	margin: -250px 0 0 -250px;
	border-radius: 5px;
}

#hero-show-contents {
	background: #08304B;
	border-radius: 5px;
	color: rgb(27, 106, 120);
	margin: 10px;
}

#hero-icon {
	display: inline-block;
	margin-left: 20px;
	height: 100px;
	width: auto;
}

#hero-show-contents h3 {
	display: inline-block;
}

#heroFormBackground {
	background-color: rgba(54,76,90,0.9);
	position: fixed;
	right: 290px;
	bottom: 50px;
	z-index: 90;
	border-radius: 5px;
}

#heroForm {
	margin: 10px;
}

.heroSightingbox {
	z-index: 90;
	border-radius: 5px;
	overflow: scroll;
	margin-bottom: 20px;
	height: 200px;
}

.heroSightingItem {
	background-color: rgb(54, 76, 90);
	color: rgb(147, 161, 170);
	border-radius: 5px;
	margin: 5px;
	padding-right: 10px;
}
