// Place all the styles related to the heroes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#heroView {
	background-color: rgba(54,76,90, 1);
	position: absolute;
	left: 32%;
	width: 400px;
	z-index: 95;
}
