.mapContainer {
	position: absolute;
	left: 0;
	right: 0;
	top: 80px;
	bottom: 50px;
}

.newSightingLink {
	float: right;
	width: 50%;
	background: #1F3340;
	text-align: right;
	z-index: 55;
}

.sightingsIndexLink {
	width: 50%;
	background: #1F3340;
	text-align: left;
	z-index: 55;
}