// Place all the styles related to the Sightings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#sightingFormBackground {
	background-color: rgba(54,76,90,0.9);
	position: fixed;
	right: 0;
	bottom: 50px;
	z-index: 90;
/*	padding: 10px;*/
	border-radius: 5px;
}

#sightingsIndex {
	background-color: rgba(54,76,90, 1);
	position: fixed;
	top: 90px;
	bottom: 50px;
	left: 10px;
	z-index: 90;
	border-radius: 5px;
	
}

.variableSightingbox {
	position: absolute;
	top: 50px;
	bottom: 50px;
	z-index: 90;
	border-radius: 5px;
	overflow: scroll;
}

.variableSightingItem{
	background-color: gray;
	border-radius: 5px;
	margin: 5px;
}

.index-back-link{
	position: absolute;
	bottom: 10px;
	left: 10px;
}