// Place all the styles related to the Sightings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#sightingFormBackground {
	background-color: rgba(54,76,90,0.9);
	position: absolute;
	top: 90px;
	right: 10px;
	z-index: 99;
/*	padding: 10px;*/
	border-radius: 5px;
}

#newSightingForm {
	color: black;
}